<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Menu Principal</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Menu Principal</h1>
    <br><br><br>
    <a href="/generos/formulario">Cadastrar Gênero</a>
    <br><br><br>
    <a href="/generos/listagem">Listar Gêneros</a>
    <br><br><br>
    <a href="/filmes/formulario">Cadastrar Filme</a>
    <br><br><br>
    <a href="/filmes/listagem">Listar Filmes</a>
    <br><br>
    <a href="/filmes/buscar">Buscar Filmes Por Gênero</a>
</div>
</body>
</html>